[submodule "vim/plugins/vim-lsp"]
	path = vim/plugins/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
	ignore = dirty
[submodule "vim/plugins/vim-lsp-settings"]
	path = vim/plugins/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
	ignore = dirty
[submodule "vim/plugins/asyncomplete-file"]
	path = vim/plugins/asyncomplete-file
	url = https://github.com/prabirshrestha/asyncomplete-file.vim.git
	ignore = dirty
[submodule "vim/plugins/asyncomplete-ultisnips"]
	path = vim/plugins/asyncomplete-ultisnips
	url = https://github.com/prabirshrestha/asyncomplete-ultisnips.vim.git
	ignore = dirty
[submodule "vim/plugins/asyncomplete"]
	path = vim/plugins/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
	ignore = dirty
[submodule "vim/plugins/asyncomplete-lsp"]
	path = vim/plugins/asyncomplete-lsp
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
	ignore = dirty
[submodule "vim/plugins/async"]
	path = vim/plugins/async
	url = https://github.com/prabirshrestha/async.vim.git
	ignore = dirty
[submodule "vim/plugins/tmux-complete"]
	path = vim/plugins/tmux-complete
	url = https://github.com/wellle/tmux-complete.vim.git
	ignore = dirty
[submodule "vim/plugins/ultisnips"]
	path = vim/plugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "vim/plugins/fugitive"]
	path = vim/plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/plugins/surround"]
	path = vim/plugins/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/plugins/commentary"]
	path = vim/plugins/commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule "vim/plugins/vim-snippets"]
	path = vim/plugins/vim-snippets
	url = https://github.com/honza/vim-snippets.git
	ignore = dirty
[submodule "vim/plugins/asyncomplete-buffer"]
	path = vim/plugins/asyncomplete-buffer
	url = https://github.com/prabirshrestha/asyncomplete-buffer.vim.git
	ignore = dirty
[submodule "vim/plugins/eunuch"]
	path = vim/plugins/eunuch
	url = https://github.com/tpope/vim-eunuch
	ignore = dirty
[submodule "vim/plugins/unimpaired"]
	path = vim/plugins/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "vim/plugins/gv.vim"]
	path = vim/plugins/gv.vim
	url = https://github.com/junegunn/gv.vim.git
	ignore = dirty
[submodule "vim/plugins/vim-peekaboo"]
	path = vim/plugins/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
	ignore = dirty
[submodule "vim/plugins/gitgutter"]
	path = vim/plugins/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = dirty
